<html>
    <head>
        <title>Demo Socket IO</title>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var socket = io("http://localhost:5001");
        </script>
    </head>
    <body>
        day la test git push
    </body>
</html>